/* General Reset */
* {
    margin: 0;
    padding: 0;
  }

  :root {
    --color-primario: #fbc90b; /* Amarillo */
    --color-secundario: #ee5a25; /* Naranja */
    --color-terciario: #b02565; /* Rosa */
}

  @font-face {
    font-family: 'Shary';
    src: url('../fonts/SHARY-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
  body {
    font-family: 'Shary', sans-serif;
    background-color: #000;
    color: #fff;
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: #000;
    border-bottom: 1px solid #333;
  }
  
  .logo img {
    height: 50px;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 15px;
  }
  
  .nav-links li {
    position: relative;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #ff0080;
  }
  
  .nav-links a.active {
    color: rgb(255, 0, 128); 
  }
  
  .nav-links li:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: #fff;
    margin-left: 10px;
  }
  
  /* Sección de líneas diagonales */
  .diagonal-lines {
    position: relative;
    background: repeating-linear-gradient(
      45deg,
      #ffffff,
      #ffffff 10px,
      #000000 10px,
      #000000 50px
    );
    height: 300px;
    width: 100%;
    overflow: hidden;
    margin: 0; 
    padding: 0; 
    
  }
  
  .diagonal-left {
    background: repeating-linear-gradient(
      -45deg,
      #ffffff,
      #ffffff 5px,
      #000000 30px,
      #000000 200px
    );
    background-attachment: fixed;
    
  }
  
  .diagonal-right {
    background: repeating-linear-gradient(
      45deg,
      #ffffff,
      #ffffff 5px,
      #000000 30px,
      #000000 200px
    );
    background-attachment: fixed;
    
  }
  
  /* Fondo semitransparente */
  .content {
    display: flex;
  }
  

  .sec{
    height: 100vh;
    width: 100%;
  }

  /* SECTION 1 */

  .section1{
    position: relative;
  }

  .sec1-img{
    width: 45%;
  }

  .sec1-img img{
    height: 670px;
    width: 95%;
    
  }

  .text-gif {
    font-family: 'Shary', sans-serif;
    position: absolute;
    top: 50%; 
    left: 60%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
    width: 80%; 
    z-index: 10;
  }


  .text-gif h1{
    display: inline-block;
    font-size: 11.5rem;
    color: #eebada;
    text-shadow: 0 0 5px #fff, 0 0 10px #b02565, 0 0 15px #b02565, 0 0 20px #b02565, 0 0 30px #b02565, 0 0 40px #b02565, 0 0 55px #b02565, 0 0 75px #b02565;
  }

  .flicker1 {
    animation: parpadear 2s infinite backwards steps(2);
  }

  .text-gif h2{
    font-size: 3rem;
    color: var(--color-terciario);
  }

  .text-gif h3{
    font-size: 2rem;
    color: var(--color-primario);
  }

  .imgs{
    margin-top: 20px;
    width: 180px;
    height: 180px;
    margin-right: 20px;
  }

  /* BORDES */

  .borders {
    margin-top: auto; /* Empuja los bordes hacia abajo */
    width: 100%;
  }

  .border {
    width: 100%;
    height: 5px; 
    display: block;
  }

  .border-yellow {
      background-color: var(--color-primario); 
  }

  .border-orange {
      background-color: var(--color-secundario); 
  }

  .border-pink {
      background-color: var(--color-terciario); 
  }
  

  /* SECTION 2 */

  .sec2-img{
    width: 40%;
  }

  .sec2-img2{
    width: 25%;
  }

  .sec2-img2 img{
    height: 670px;
    object-fit: cover;
    opacity: 0.98;
  }

  .sec2-img img{
    height: 670px;
    object-fit: cover;
    opacity: 0.98;
  }

  .sec2-text{
    margin-top: 70px;
  }

  .sec2-text .txt{
    font-size: 2.5rem;
    color: var(--color-primario);
    margin-top: 20px;
    margin-left: 30px;
  }

  .sec2-text .sec2-text2{
    margin-left: 70px;
  }

  .sec2-text .sec2-text3{
    margin-bottom: 50px;
  }

  .sec2-text p{
    font-size: 1rem;
    color: #fff;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    color: var(--color-primario);
  }

  .sec2-text button{
    margin-top: 50px;
    margin-left: 180px;
    background-color: var(--color-terciario);
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px
  }

  .sec2-text a{
    font-family: 'Shary', sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
    
  }

  /* SECTION 3 */

  .section3{
    height: 120vh;
  }

  .sec3-text{
    text-align: center;
    margin-top: 50px;
    font-size: 3.5rem;
  }

  .sec3-text h2{
    color: #eebada;
    text-shadow: 0 0 5px #fff, 0 0 10px #b02565, 0 0 15px #b02565, 0 0 20px #b02565, 0 0 30px #b02565, 0 0 40px #b02565, 0 0 55px #b02565, 0 0 75px #b02565;
  }
      

  .sec3-cards{
    margin: 40px 40px;
    display: flex;
    justify-content: center;
  }

  .sec3-cards .card{
    color: #000;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sec3-cards .card img{
    width: 100%;
    height: 100%;
   
    
  }

  .sec3-cards .card h2, h3, p{
    margin-bottom: 10px;
  }

  .sec3-cards .card1{
    background-color: #fbcb0b73;
    
  }

  .sec3-cards .card2{
    background-color: #ee5a2573;
  }

  .sec3-cards .card3{
    background-color: #b0256573;
  }

  .sec3-cards .card img{
    width: 250px;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 20px;
  }


  /* SECTION 4 */

  .section4{
    height: 140vh;
  }

  .sec4-mincards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
  }

  .sec4-mincards .mincard{
    font-size: .8rem;
    background: linear-gradient(135deg, rgba(251, 201, 11, 0.5), rgba(238, 90, 37, 0.5), rgba(176, 37, 101, 0.5));
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sec4-mincards .mincard img{
    width: 100px;
    height: 150px;
    margin-bottom: 20px;
  }

  .sec4-mincards .mincard h2, h3, p{
    margin-bottom: 10px;
  }

  
  /* Footer */
  .footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  
  .footer-logo,
  .footer-social,
  .footer-location,
  .footer-links {
    flex: 1; 
  }

  .footer-location iframe {
    width: 100%;
    height: 200px;
    border: 0;
  }
  
  /* Logotipo */
  .footer-logo img {
    height: 60px; 
  }
  
  /* Redes sociales */
  .footer-social {
    text-align: center;
  }
  
  .footer-social h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .footer-social ul {
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: center;
    padding: 0;
  }
  
  .footer-social ul li a {
    width: 30px; 
    transition: transform 0.3s ease;
  }

  .fa-brands {
    font-size: 20px;
    margin-top: 5px;
    color: #ccc;
    text-decoration: none;
    padding: 10px 20px 0 0;
}

.fa-brands:hover {
  color: #cd8f13;
}
  
  .footer-social ul li a:hover {
    transform: scale(1.2);
  }
  
  /* Enlaces de navegación */
  .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .footer-links ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .footer-links ul li a.active {
    color: #ff0080;
  }
  
  .footer-links ul li a:hover {
    color: #ff0080;
  }
  
  /* Footer bottom */
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #bbb;
  }

  /* Modal */

  body.modal-open {
    overflow: hidden;
  }
  
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
  }

  .modal-background{
    padding: 30px;
    background-image: url("../img/waves.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
  }
  
  .modal-content {
    background: black;
    border: 5px solid white;
    text-align: center;
    color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  button {
    margin-top: 15px;
    background: #e6007e;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  @keyframes parpadear {
    to {
      color: gray;
      text-shadow: none;
    }
  }
  
  
  
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column; /* Apila los divs verticalmente en pantallas pequeñas */
      align-items: center; /* Centra los elementos en dispositivos pequeños */
    }
  
    .footer-logo,
    .footer-social,
    .footer-location,
    .footer-links {
      flex: unset; /* Elimina el tamaño igual en dispositivos pequeños */
      width: 100%; /* Cada div ocupa el 100% del ancho */
      text-align: center; /* Centra el contenido dentro de cada div */
    }
  
    .footer-location iframe {
      height: 200px; /* Ajusta la altura del mapa para dispositivos pequeños */
    }
  }